@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-header-top: #000000;
  --purple-color: #7943a4;
  --color-orange: #ff9900;
  --color-dark-orange: #e1670e;
  --color-light-orange: #f7b045;
  --color-white: #ffff;
  --color-gray: #cacaca;
  --color-dark-gray: #666666;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
button:focus,
textarea:focus {
  outline: 1px solid var(--purple-color);
  outline-offset: 3px;
}
label:focus,
input:focus {
  outline: none;
  outline-offset: none;
}
img {
  max-width: 100%;
}

body {
  font-family: "OpenSans", serif;
  font-weight: 400;
  background: var(--color-white);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  cursor: pointer;
}
.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--background-header-top);
}
.descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--background-header-top);
}
