.catalog {
  margin-bottom: 75px;
}
.title-language {
  display: flex;
}
.catalog__title {
  margin-right: 40px;
}
.language {
  padding-top: 10px;
  display: flex;
  max-width: 430px;
}
.language__item:not(:last-child) {
  margin-right: 50px;
}
.btn__img {
  display: inline-block;
  width: 46px;
  height: 46px;
}
.btn__catalog {
  padding: 0;
  width: 46px;
  height: 46px;
  background-color: inherit;
  border: none;
  border-radius: 100%;
}

.catalog__preview {
  margin: 0;
  margin-bottom: 38px;
  max-width: 67.5%;
}
.catalog__content {
  display: flex;
}
.painter-content {
  display: none;
}
.painter-content--active {
  display: block;
}
.painter-info {
  max-width: 47%;
  margin-right: 50px;
}
.painter__img {
  margin: 0;
  margin-bottom: 29px;
  display: inline-block;
  width: 100%;
  max-height: 470px;
}
.painter__name {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.painter__life {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
.painter__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: var(--color-black);
}

/*accordion*/
.accordion {
  width: 800px;
}
.accordion__wrapper {
  position: relative;
  padding: 41px 0;
  border-top: 1px solid var(--color-gray);
}
.accordion__title {
  margin: 0;
  background-color: inherit;
  border: none;
  font-weight: 600;
  font-size: 24px !important;
  line-height: 32px;
  color: #333333;
}
.accordion__icon {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 90%;
  border-radius: 100%;
  background-color: #bfbfbf;
  background-image: url("../img/checkmark-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}
.ui-state-active .accordion__icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 350px;
  border: inherit;
}
.ui-accordion-content {
  min-height: auto;
  padding-bottom: 40px;
}
.accordion__content {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.accordion__btn {
  max-width: 100%;
  background-color: inherit;
  border: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.accordion__btn:hover {
  color: #d1a9f0;
  text-decoration: underline;
}
.accordion__btn:active {
  color: #ffff;
  background-color: #d1a9f0;
}
.accordion__content--void {
  padding: 25px 0;
  display: flex;
  align-items: center;
}
.content__big-block {
  width: 275px;
  height: 189px;
  border: 2px solid #b7b7b7;
  padding: 12px;
  margin-right: 25px;
}
.content__mini-block {
  width: 100%;
  height: 100%;
  background: #b7b7b7;
}
.content__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.content__descr {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.content__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-purple-color) !important;
}
.accordion__content--void {
  border: none;
}
.accordion__wrapper:last-child {
  border-bottom: 1px solid var(--dark-purple-color);
}

.accordion__wrapper:hover {
  border-top: 1px solid var(--dark-purple-color);
}

.accordion__wrapper:hover + .accordion__wrapper {
  border-top: 1px solid var(--dark-purple-color);
}

.accordion__wrapper:last-child:hover {
  border-bottom: 1px solid var(--dark-purple-color);
}

.accordion__wrapper:hover .accordion__title {
  color: var(--dark-purple-color);
}
.accordion__wrapper:hover .accordion__icon {
  background-color: var(--dark-purple-color);
}

.accordion__wrapper:focus {
  border-top: 1px solid var(--dark-purple-color);
}
