.gallery {
  margin-bottom: 70px;
  background-image: url("../img/gallery__bagraund.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 995px;
  object-fit: cover;
}
.gallery__container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.gallery__left {
  width: 25%;
}
.gallery__title {
  color: var(--color-white);
}
.gallery__filter {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices__inner {
  background: none;
  border-radius: 6px;
  border-color: var(--color-white);
  width: 100%;
  max-width: 400px;
  height: 40px !important;
  min-height: 40px;
  font-size: 16px;
  padding-top: 8px;
  padding-left: 4px;
  color: var(--color-white);
}
.is-focused .choices__inner {
  border-color: var(--color-white);
  background: rgba(255, 255, 255, 0.2);
}
.choices__list--dropdown {
  opacity: 0;
  transition: opacity 0.3s linear;
  background: none;
  width: 100%;
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}
.choices__list--dropdown.is-active {
  opacity: 1;
}
.choices__list--single {
  position: relative;
  bottom: 14px;
  left: 2px;
}
.choices__item {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 3px;
}
.is-selected {
  display: none;
}
.choices[data-type*="select-one"]:after {
  content: none;
}
.choices {
  transition: margin 0.15s linear;
  max-width: 400px;
  width: 100%;
  background-image: url("../img/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  display: block;
  margin-bottom: 554px;
}
.choices:hover .choices__inner {
  background: rgba(255, 255, 255, 0.2);
}
.gallery__second-paragraph {
  margin: 0;
  padding: 0;
  padding-right: 15px;
  font-weight: 600;
  display: block;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: var(--color-white);
}
.choices[data-type*="select-one"].is-open:hover {
  background-image: url("../img/up-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
}
.choices__list--dropdown.is-active {
  border: 1px solid #999999;
  border-radius: 6px;
}
.is-open .choices__inner {
  border-radius: 6px;
  border-color: var(--color-white);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}
.gallery__descr {
  max-width: 380px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}
.gallery__link {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #9d5cd0;
}
.gallery__link:hover {
  background-color: #9d5cd0;
  color: #fff;
}
/*swiper*/
.swiper-right--content {
  margin: 0;
  padding-top: 23px;
  max-width: 72%;
  overflow: hidden;
}
.swiper-right--content .swiper-wrapper {
  max-height: 750px;
}
.swiper-slide {
  position: relative;
  max-height: 350px;
}
.swiper-btn--prev,
.swiper-btn--next {
  background-color: #666666;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.swiper-btn--prev {
  background-image: url("../img/swiper-btn-prev.svg");
}
.swiper-btn--next {
  background-image: url("../img/swiper-btn-next.svg");
}
.swiper-right-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 31px;
}
.swiper-pagination--right {
  max-width: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}
.swiper-btn--prev {
  margin-right: 15px;
}
.swiper-pagination--right {
  margin-right: 10px;
}
.swiper-btn--prev:hover,
.swiper-btn--next:hover {
  background-color: var(--light-purple-color);
}
.swiper-btn--prev:active,
.swiper-btn--next:active {
  background-color: var(--light-purple-color);
  border: 2px solid var(--dark-purple-color);
}
.swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 350px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/swiper-loopa.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}
.swiper-slide:hover::after {
  opacity: 1;
}
.swiper-slide:active::after {
  background-color: rgba(194, 131, 243, 0.4);
}
