.header-menu__top {
  background-color: var(--color-black);
}
.header__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.burger-close {
  display: none;
}
.burger {
  display: none;
}
.header-logo__link {
  margin-right: auto;
}
.nav {
  display: flex;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 62px;
}
.nav__item:last-child {
  margin-right: 240px;
}
.nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.nav__link:after {
  content: "";
  position: absolute;
  left: -6px;
  top: -3px;
  z-index: -1;
  width: calc(100% + 12px);
  height: calc(100% + 6px);
  background-color: var(--purple-color);
  color: var(--color-white);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.nav__link:focus:after {
  transform: scaleX(1);
}
.nav__link {
  color: var(--color-white);
  transition: color 0.15s linear;
  padding: 2px 5px;
  position: relative;
  z-index: 3;
}
.nav__link:hover {
  color: var(--dark-purple-color);
}
.nav__link:focus {
  outline: none;
}
.nav__link:active {
  background: none;
  outline: none;
}
.nav__link:active {
  color: var(--color-white);
}
.nav__item:hover:not(:active),
.nav__item:focus:not(:focus-visible),
.nav__item:focus-visible {
  color: #7943a4;
  transition: 0.3s ease-in-out;
}
.form-container-search{
  display: none;
}
.header__login:after {
  content: "";
  position: absolute;
  left: -6px;
  top: -3px;
  z-index: -1;
  width: calc(100% + 12px);
  height: calc(100% + 6px);
  background-color: var(--purple-color);
  background-image: url("../img/entrance-icon.svg");
  background-repeat: no-repeat;
  background-position: 7px 9px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.header__login:focus:after {
  transform: scaleX(1);
}
.header__login {
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  width: 76px;
  color: var(--color-white);
  background: none;
  border: none;
  cursor: pointer;
  text-align: right;
  background-image: url("../img/entrance-icon.svg");
  background-repeat: no-repeat;
  background-position: 2px 7px;
  transition: color 0.15s ease;
  transition: background-image 0.15s linear;
  position: relative;
}
.header__login:hover {
  color: var(--dark-purple-color);
  background-image: url("../img/entrance-icon--hover.svg");
  background-repeat: no-repeat;
}
.header__login:active {
  color: var(--dark-purple-color);
  background-image: url("../img/entrance-icon--hover.svg");
  background-repeat: no-repeat;
}

/*выпадающий список*/
.menu {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 60px;
}
.menu__btn {
  border: none;
  outline: none;
  padding: 5px 15px 0 5px;
  color: #ffffff;
  background-color: inherit;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  transition: background-color 0.3s ease-in-out;
}
.menu__btn svg {
  position: relative;
  bottom: 1px;
  right: 3px;
}
.menu__btn svg path {
  transition: stroke 0.1s linear;
}
.menu__btn:hover svg path {
  stroke: var(--dark-purple-color);
}
.menu__btn:active svg path {
  stroke: var(--dark-purple-color);
}
.menu__btn:active svg {
  transform: rotate(180deg);
}

.menu__btn--active {
  color: var(--dark-purple-color);
}
.menu__btn:hover {
  color: var(--dark-purple-color);
}
.menu__btn--active,
.menu__btn--active:hover,
.menu__btn--active:focus {
  background-color: var(--purple-color);
  color: var(--color-white);
}
.menu__btn--active svg,
.menu__btn--active:hover svg,
.menu__btn--active:focus svg {
  transform: rotate(180deg);
}
.menu__btn--active svg path,
.menu__btn--active:hover svg path,
.menu__btn--active:focus svg path {
  stroke: var(--color-white);
}

.dropdown {
  position: absolute;
  margin-top: 17px;
  left: 0;
  top: 100%;
  width: 300px;
  height: 280px;
  padding: 40px 40px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.dropdown__item {
  margin-bottom: 20px;
  display: block;
  width: 220px;
  height: 40px;
  padding: 10px 14px;
  color: #ffffff;
}
.painter-tintoretto {
  background-image: url("../img/bgr-tintoretto.svg");
}
.painter-frederick {
  background-image: url("../img/bgr-frederick.svg");
}
.painter-leonardo {
  background-image: url("../img/bgr-leonardo.svg");
}
.painter-verrocchio {
  background-image: url("../img/bgr-verrocchio.svg");
}
.painter-mone {
  background-image: url("../img/bgr-mone.svg");
}
.painter-sisley {
  background-image: url("../img/bgr-sisley.svg");
}
.painter-mane {
  background-image: url("../img/bgr-mane.svg");
}
.painter-renoir {
  background-image: url("../img/bgr-renoir.svg");
}
.painter-vangog {
  background-image: url("../img/bgr-vangog.svg");
}
.painter-cezanne {
  background-image: url("../img/bgr-cezanne.svg");
}
.painter-gauguin {
  background-image: url("../img/bgr-gauguin.svg");
}
.painter-sulfur {
  background-image: url("../img/bgr-sulfur.svg");
}
.painter-kandinskiy {
  background-image: url("../img/bgr-kandinskiy.svg");
}
.painter-marinetti {
  background-image: url("../img/bgr-marinetti.svg");
}
.painter-malevich {
  background-image: url("../img/bgr-malevich.svg");
}
.painter-picasso {
  background-image: url("../img/bgr-picasso.svg");
}
.painter-carra {
  background-image: url("../img/bgr-carra.svg");
}
.painter-pratella {
  background-image: url("../img/bgr-pratella.svg");
}
.painter-severini {
  background-image: url("../img/bgr-severini.svg");
}
.painter-balla {
  background-image: url("../img/bgr-balla.svg");
}
.simplebar-track.simplebar-vertical {
  background: #000000;
  width: 5px;
}
.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: var(--color-white);
  border-radius: 10px;
}
/*поиск на сайте*/
.form__search {
  margin-left: auto;
}
.form__input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: #ffff;
  width: 218px;
  padding-bottom: 3px;
  padding-left: 0;
  transition: border-bottom 0.15s linear;
  position: relative;
  bottom: 1px;
  right: 1px;
}
.form__input::placeholder {
  color: var(--color-white);
  font-size: 18px;
  line-height: 25px;
}
.form__btn {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 25px;
  height: 22px;
  border: none;
  position: relative;
  top: 5px;
  right: 3px;
  cursor: pointer;
  transition: background-image 0.15s linear;
}
.form__search:hover .form__input,
.form__input:focus {
  border-bottom: 1px solid #7943a4;
}
.form__btn svg path,
.form__btn svg rect {
  transition: fill 0.15s linear;
}
.search {display: none;}
/*swiper*/

.header__swiper {
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.header__swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.header__swiper-slide {
  flex-shrink: 0;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__swiper-slide:nth-child(1) {
  background-image: url("../img/castle-background.jpg");
}
.header__swiper-slide:nth-child(2) {
  background-image: url("../img/painting-bagraund.jpg");
}
.header__swiper-slide:nth-child(3) {
  background-image: url("../img/forest-bagraund.jpg");
}
.header__img {
  max-width: 100%;
  min-height: 700px;
}

.header__content {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header__container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
