.hero__wrapper {
  position: absolute;
  z-index: 2;
  padding-left: 0%;
  padding-top: 7.3%;
  max-width: 40%;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  color: #ffff;
}
.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffff;
}
.btn__hero {
  width: 315px;
  height: 70px;
  padding: 22px 31px;
  border-radius: 40px;
  border: 3px solid var(--dark-purple-color);
  background-color: var(--dark-purple-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.btn__hero:hover {
  border: 3px solid #d1a9f0;
}
.btn__hero:focus {
  border: 3px solid var(--color-white);
  box-shadow: 0 0 0 2px #c283f3;
}
.btn__hero:active {
  border: 3px solid #d1a9f0;
  background: var(--purple-color);
  box-shadow: none;
}
.about-us {
  margin-bottom: 70px;
}
.about-us__descr {
  max-width: 68%;
}
